.ContainerBox{
    /* text-align: center;
    margin-left: auto;
    margin-right: auto; */
    display: flex;
    overflow: hidden;
   
    width: 100%;
   height: 1024px;
    gap: 2px;
    
  }
  
  .b1,.b2{
    background-color: white;
    width: 50%;
    height: 1024px;
   
    
  }