.outer-box{
    /* height: 100px; */
    width: 491px;
    margin-left: 39px;
    
    color: #726C6C;
    text-align: left;
  }
  
  .username-box{
    padding-top: 36px;
  
  }
  
  .input-box{
    margin-top: 8px;
    margin-bottom: 9px;
    border-radius: 16px;
    background-color: white;
    padding: 0px;
    font-size: 16px;
    text-align: left;
   height: 61px;
   width: 491px;
    box-sizing: border-box;
    border-style: solid;
   border-color: #CCCBCB;
    
    
  
  }

 